body{
    margin: 0;
padding: 0;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-align: center;
background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
min-height: 100vh;
color: white;

}
*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: content-box;
}
header{
margin: 2rem 0;
}
header h1 {
	font-family: 'Nova Square', cursive;
	font-size: 3rem;
	padding: 1rem;
	border: solid white 1px;
	width: max-content;
	margin: auto;
	margin-bottom: 1rem;
	border-radius: 5px;
}
header p{
  max-width: 50%;
  margin: auto;
}
h2{
	margin-top: 3rem;
	margin-bottom:2rem;
}

.main-game {
	width: 600px;
	height: 600px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(3, 1fr);
	margin: 3rem auto;
	position: relative;
}
.local-game {
    padding: 3rem;
}

.top-left{
border-right: solid white 4px;
border-bottom: solid white 4px;
}
.top-right{
    border-left: solid white 4px;
    border-bottom: solid white 4px;
}
.bottom-left{
    border-right: solid white 4px;
    border-top: solid white 4px;
}
.bottom-right{
    border-left: solid white 4px;
    border-top: solid white 4px;
}
.top-middle{
border-bottom: solid white 4px;
}
.left-middle{
border-right: solid white 4px;
}
.right-middle{
border-left: solid white 4px;
}
.bottom-middle{
border-top: solid white 4px;
}
.result{
	display: none;
	width: 100%;
	height: 50%;
	border-radius: 20px;
	position: absolute;
	margin-top: 50%;
	transform: translateY(-50%);
	background: #fffa917d;
	z-index: 10;
}
.result-active {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

}
.result-message{
	font-size: 6rem;
	text-shadow: 2px 2px #0006;
}
#reset{
		width: 7rem;
		padding: 0.5rem;
}

.cross-circle{
	height: 100%;
width: 100%;
fill: white;
opacity: 0.5;
}
.difficulty{
	margin-bottom: 10rem;
	padding: 1rem;
	margin: 1rem;
}
.game-mode-container{
	margin-bottom: 10rem;
}
#difficulty-display{
	text-transform: uppercase;
}

.icon-options{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 20rem;
	margin: auto;
}
.icon-selector {
	height: 3rem;
	width: 3rem;
	border-radius: 5px;
	cursor: pointer;
	padding: 0.5rem;
}
.icon-active{
	border: solid white 1px;
}
.icon{
	height: 100%;
}